<ion-header>
  <!--ion-title>
    
      <div class="ion-text-center"><h1>Cross-Word Puzzles</h1><br/></div>
      </ion-title-->
</ion-header>

<ion-content class="ion-padding">
  <!-- fab placed to the top end -->
  <ion-fab fill=“clear” vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button fill=“clear” color="light" (click)="direction()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div [style.background-image]="'url(/assets/imgs/background.jpg)'"> <br />

    <div class="ion-text-center">
      <h1>Cross-Word Puzzles</h1><br />
    </div>
  </div>
  <br/>
  <div class="grid">
    <div *ngFor="let item of [].constructor(this.admindata.length); index as i" class="grid-item" (click)="navigate(i)">
        Quiz {{ i+1 }}
    </div>
</div>
  
</ion-content>