<ion-header>
</ion-header>

<ion-content>
  <br /><br />
  <table style="margin-left:100px;margin-right:100px;">
    <td *ngFor="let item of [].constructor(this.admindata[0].col); let j= index">
      <tr *ngFor="let item of [].constructor(this.admindata[0].row); let i = index" (click)="fun(i,j)">
        <div *ngIf=" this.admindata[0].array[i][j]!=''; else elseBlock;">
          <div *ngIf="check(i,j,0); else otherblock;">
            <div class="box2 " (click)="aftercheck(i,j,0)">
              <div *ngIf="this.b[i][j]!='';else bblock;">
                {{this.b[i][j]}}
              </div>
              <ng-template #bblock>
                <div class="box2">
                  {{findindex(i,j,0)}}
                  <ion-text color="light">s</ion-text>
                </div>
              </ng-template>

              <!--this.admindata[0].array[j][i]-->
            </div>
          </div>
          <ng-template #otherblock>

            <div *ngIf="this.b[i][j]!='';else bblocktwo;">
              <div class="box " (click)="aftercheck(i,j,0)">
                {{this.b[i][j]}}
              </div>
            </div>
            <ng-template #bblocktwo><!--This section prints where there is not data in b[i][j]-->

              <div class="box">
                <ion-text color="light">s</ion-text>
              </div>
            </ng-template>
            <!--this.admindata[0].array[j][i]-->

          </ng-template>
        </div>
        <ng-template #elseBlock>
          <div class="emptybox">
            <ion-text color="light">s</ion-text>
          </div>
        </ng-template>
      </tr>
    </td>
  </table>

</ion-content>