<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title >
      Cross-Word Puzzles
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="logout()">
        logout
      </ion-button>
      <!--ion-button>
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button-->
      
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br /><br />
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of range;index as i">
        <ion-card (click)="direction()"  color="secondary" class="ion-text-center">
          <ion-card-header>
            <ion-card-title>Puzzle {{i+1}}</ion-card-title>
            <!--ion-card-subtitle>Card Subtitle</ion-card-subtitle-->
          </ion-card-header>

          <ion-card-content>
            <table style="margin-left:auto;margin-right:auto;">
              <td *ngFor="let item of [].constructor(col); let i= index">
                <tr class="noborder" *ngFor="let item of [].constructor(row); let j = index">
                  <div *ngIf=" b[j][i]!=''; else elseBlock;">
                    <div class="box blue">
                      <div class="ion-text-center">
                        <p>{{b[j][i]}}</p>
                      </div>
                    </div>
                  </div>
                  <ng-template #elseBlock>
                    <div class="box black"></div>
                  </ng-template>
                </tr>
              </td>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="direction()" color="secondary" class="ion-text-center">
          <ion-card-header>
            <ion-card-title>Add Another Puzzle</ion-card-title>
            <ion-icon name="add"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>