/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
  table{
    border-collapse: collapse;
  }
  
  tr{
    border: 1px solid black;
    height: 20px;
    width: 20px;
  }
  .noborder{
    border:0px;
    border-style:hidden;
  }
  
  .box {
    width: 20px;
    height: 20px;
  }
  .black{
    background:#3dc2ff;
  }
  .blue {
    background: #0d87c0;
  }
  
  
  .row {
    margin-left:5px;
    margin-right:5px;
  }
    
  .column {
    float: left;
    width: 30%;
    padding: 5px;
  }
  table {
    border-spacing: 30px;
  }
  .round{
    padding-right: 40px;
    padding-left: 40px;
  }
  ion-icon {
    font-size: 530px; //Preferred size here
  }